*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Odibee Sans';
  background-color: navy;

}
.layover{
  height: 30vh;
  width: 30vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 10px;

}

.city-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

.dam{
  background-image: url("../images/amsterdam.jpg");
}
.bar{
  background-image: url("../images/barcelona.jpg");
}
.par{
  background-image: url("../images/paris.jpg");
}
